@charset "UTF-8";
/* line 1, ../sass/_setting.scss */
html {
  font-size: calc(10/375*100vw);
}
@media (min-width: 969px) {
  /* line 1, ../sass/_setting.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 8, ../sass/_setting.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 16, ../sass/_setting.scss */
body {
  font-family: "NotoSansJP-Regular", "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
  color: #333333;
  background-color: #f4f4f4;
}

/* line 25, ../sass/_setting.scss */
main {
  overflow: hidden;
}

/* line 29, ../sass/_setting.scss */
img {
  max-width: 100%;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

/* line 35, ../sass/_setting.scss */
a,
button {
  text-decoration: none;
  color: #0066C5;
}
/* line 39, ../sass/_setting.scss */
a:hover,
button:hover {
  opacity: .7;
  text-decoration: none;
}

/* line 48, ../sass/_setting.scss */
input:focus,
select:focus,
button:focus {
  outline: none;
}

/* line 53, ../sass/_setting.scss */
ul {
  list-style: none;
}

@media screen and (max-width: 968px) {
  /* line 57, ../sass/_setting.scss */
  .container {
    padding: 0;
  }
}

@media (min-width: 969px) and (max-width: 1200px) {
  /* line 63, ../sass/_setting.scss */
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(100vw - 60px) !important;
  }
}
@media (min-width: 540px) and (max-width: 968px) {
  /* line 72, ../sass/_setting.scss */
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(100vw - 3em) !important;
  }
}
@media (max-width: 540px) {
  /* line 81, ../sass/_setting.scss */
  .container {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}
@font-face {
  font-family: NotoSansJP-Bold;
  src: url(/common/fonts/NotoSansJP-Bold.otf);
}
@font-face {
  font-family: NotoSansJP-Regular;
  src: url(/common/fonts/NotoSansJP-Regular.otf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(/common/fonts/Roboto-Bold.ttf);
}
/* line 1, ../sass/_header.scss */
header {
  width: 100%;
  height: 9rem;
}
/* line 4, ../sass/_header.scss */
header .navbar {
  background: #1fbeaa;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0;
  height: 9rem;
}
/* line 11, ../sass/_header.scss */
header .navbar .container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
/* line 18, ../sass/_header.scss */
header .navbar__right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
/* line 21, ../sass/_header.scss */
header .navbar__right--support {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 27, ../sass/_header.scss */
header .navbar__right--support .nav-item {
  list-style: none;
}
/* line 29, ../sass/_header.scss */
header .navbar__right--support .nav-item a {
  text-decoration: none;
  font-family: NotoSansJP-Bold;
  color: #fff;
  padding: 1.5rem;
  transition: all 0.25s;
}
/* line 36, ../sass/_header.scss */
header .navbar__right--support .nav-item a:hover {
  cursor: pointer;
  background-color: #ffffff14;
}
/* line 42, ../sass/_header.scss */
header .navbar__right--end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
/* line 44, ../sass/_header.scss */
header .navbar__right--end .btn {
  font-family: NotoSansJP-Regular;
  padding: 0 3rem;
  font-size: 1.6rem;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  height: 100%;
}
/* line 53, ../sass/_header.scss */
header .navbar__right--end .btn-bg {
  background-color: #0c4947;
}
/* line 56, ../sass/_header.scss */
header .navbar__right--end .btn-bg:hover {
  opacity: 0.7;
}
/* line 59, ../sass/_header.scss */
header .navbar__right--end .btn-bg-white {
  background-color: #fff;
  color: #02b9a4;
  border-radius: 0;
}
/* line 64, ../sass/_header.scss */
header .navbar__right--end .btn-bg-white:hover {
  background-color: #fff;
  color: #0c4947;
  opacity: 0.9;
}
/* line 73, ../sass/_header.scss */
header .popupSearch .modal-content {
  background-image: linear-gradient(#02b9a4, #fdeadd);
}
/* line 75, ../sass/_header.scss */
header .popupSearch .modal-content .modal-header {
  width: 100%;
  border: 1px solid transparent;
  padding-top: 3rem;
  border-bottom: 1px solid transparent;
}
/* line 80, ../sass/_header.scss */
header .popupSearch .modal-content .modal-header .modal-title.text-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.5rem;
  font-family: NotoSansJP-Bold;
  color: #fff;
}
/* line 88, ../sass/_header.scss */
header .popupSearch .modal-content .modal-header .btn-close {
  background: url(/common/image/btn-close.png) center center no-repeat;
  background-size: contain;
  opacity: 1;
  transition: all 0.25s;
  margin-right: 3rem;
  transform: scale(1.2);
}
/* line 97, ../sass/_header.scss */
header .popupSearch .modal-content .modal-body {
  width: 100%;
  margin-top: 3rem;
}
/* line 102, ../sass/_header.scss */
header .popupSearch .boxSearch {
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
/* line 106, ../sass/_header.scss */
header .popupSearch .boxSearch__label {
  margin-bottom: 0;
  margin-right: 1.5rem;
  flex: 1;
  text-align: right;
  color: #fff;
}
@media only screen and (max-width: 992px) {
  /* line 106, ../sass/_header.scss */
  header .popupSearch .boxSearch__label {
    margin-bottom: 1.5rem !important;
    font-size: 1.6rem !important;
  }
}
/* line 118, ../sass/_header.scss */
header .popupSearch .search-form {
  flex: 3;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}
/* line 123, ../sass/_header.scss */
header .popupSearch .search-form__input {
  border: 0;
  background-color: #fff;
  height: 6rem;
  min-width: 100%;
  border-radius: 5rem;
  padding-left: 3rem;
  padding-right: 8rem;
}
/* line 132, ../sass/_header.scss */
header .popupSearch .search-form__btn {
  width: 3.1rem;
  height: 3.1rem;
  background: url(/common/image/icon-search.png) center center no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}

/* line 1, ../sass/_common.scss */
.slider {
  padding: 10rem 0 23rem 0;
  background-image: url(../../common/image/bg-top.png);
  background-size: 100% 100%;
  margin-top: -6rem;
  position: relative;
}
@media only screen and (max-width: 968px) {
  /* line 1, ../sass/_common.scss */
  .slider {
    background: url(../../common/image/bg_mv.png) top center no-repeat;
    background-size: 100% 100%;
    margin-top: -5rem;
    padding-bottom: 20rem !important;
    padding-top: 9rem;
  }
}
/* line 16, ../sass/_common.scss */
.slider .thumbnail-sub {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* line 20, ../sass/_common.scss */
.slider .mySlides {
  width: 100%;
  display: none;
}
/* line 24, ../sass/_common.scss */
.slider .mySlides .row {
  display: flex;
  flex-wrap: wrap;
}
/* line 25, ../sass/_common.scss */
.slider .mySlides .row img {
  width: calc(100% - 3rem);
}
@media only screen and (max-width: 968px) {
  /* line 25, ../sass/_common.scss */
  .slider .mySlides .row img {
    width: 100%;
  }
}
/* line 33, ../sass/_common.scss */
.slider .mySlides .row__left {
  width: 58.33333%;
}
/* line 36, ../sass/_common.scss */
.slider .mySlides .row__right {
  width: 41.66667%;
}
/* line 39, ../sass/_common.scss */
.slider .mySlides .row__right--text h1 {
  color: #fff;
  font-size: 3.6rem;
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 968px) {
  /* line 39, ../sass/_common.scss */
  .slider .mySlides .row__right--text h1 {
    font-size: 2.4rem;
    width: 27rem;
  }
}
/* line 49, ../sass/_common.scss */
.slider .mySlides .row__right--text p {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 968px) {
  /* line 49, ../sass/_common.scss */
  .slider .mySlides .row__right--text p {
    color: #0c4947;
    font-size: 1.2rem;
    width: 27rem;
  }
}
/* line 59, ../sass/_common.scss */
.slider .mySlides .row__right--text .btn {
  display: inline-block;
  background-color: #fff;
  color: #0c4947;
  border-radius: 3rem;
  padding: 1.5rem 5rem 1.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: 400;
  text-align: center;
  border: 0.1rem solid transparent;
  font-family: NotoSansJP-Regular;
}
/* line 73, ../sass/_common.scss */
.slider .mySlides .row__right--text .btn:hover {
  background-color: #0c4947 !important;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}
/* line 78, ../sass/_common.scss */
.slider .mySlides .row__right--text .btn::after {
  content: '\f30b';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 1.5rem;
}
/* line 87, ../sass/_common.scss */
.slider .mySlides .row__right--text .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
/* line 94, ../sass/_common.scss */
.slider .rows {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 100, ../sass/_common.scss */
.slider .rows__thumbnail {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 6rem;
  position: relative;
  left: 3rem;
}
/* line 106, ../sass/_common.scss */
.slider .rows__thumbnail .column {
  position: relative;
}
/* line 108, ../sass/_common.scss */
.slider .rows__thumbnail .column .color {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 0.2rem;
  background-color: #0c4947;
}
@media only screen and (min-width: 969px) and (max-width: 991px) {
  /* line 94, ../sass/_common.scss */
  .slider .rows {
    display: none;
  }
}

/* line 123, ../sass/_common.scss */
.slider::after {
  background: url(/common/image/scroll.png);
  background-size: contain;
  position: absolute;
  bottom: 16rem;
  right: 3rem;
  width: 1.6rem;
  height: 11rem;
  content: '';
}

/* line 133, ../sass/_common.scss */
img {
  vertical-align: middle;
}

/* line 137, ../sass/_common.scss */
.container {
  position: relative;
}

/* line 141, ../sass/_common.scss */
.cursor {
  cursor: pointer;
}

/* line 145, ../sass/_common.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: .8rem 1.2rem;
  position: absolute;
  top: 0;
}

/* line 153, ../sass/_common.scss */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Add a transparency effect for thumnbail images */
/* line 160, ../sass/_common.scss */
.demo {
  opacity: 1;
}

/* line 164, ../sass/_common.scss */
.active,
.demo:hover {
  opacity: 0.7;
}

/* line 168, ../sass/_common.scss */
.outProducts {
  padding: 2rem 0 10rem 0;
}
@media only screen and (max-width: 968px) {
  /* line 168, ../sass/_common.scss */
  .outProducts {
    padding: 0;
  }
}
/* line 173, ../sass/_common.scss */
.outProducts .row {
  width: 100%;
}
/* line 175, ../sass/_common.scss */
.outProducts .row__top {
  width: 100%;
}
/* line 177, ../sass/_common.scss */
.outProducts .row__top h1 {
  text-align: center;
  color: #0c4947;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  padding-bottom: 5rem;
  position: relative;
}
@media only screen and (max-width: 968px) {
  /* line 177, ../sass/_common.scss */
  .outProducts .row__top h1 {
    font-size: 2.5rem;
    margin-bottom: 3.8rem;
    padding-bottom: 0;
  }
}
/* line 190, ../sass/_common.scss */
.outProducts .row__top h1::before {
  content: 'PRODUCT';
  font-size: 11.6rem;
  line-height: 1.2;
  color: #ffffff;
  position: absolute;
  bottom: 9rem;
  left: 0;
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  /* line 190, ../sass/_common.scss */
  .outProducts .row__top h1::before {
    font-size: 6rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 968px) {
  /* line 190, ../sass/_common.scss */
  .outProducts .row__top h1::before {
    font-size: 6rem;
    bottom: 1.5rem;
  }
}
/* line 210, ../sass/_common.scss */
.outProducts .row__bottom .row {
  margin: 0 auto;
}
/* line 213, ../sass/_common.scss */
.outProducts .row__bottom .tab {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: flex-end;
  transition: all ease-in 0.3s;
}
/* line 217, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink {
  background-color: #0c4947;
  color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7rem;
  width: 25%;
  position: relative;
}
@media only screen and (max-width: 968px) {
  /* line 217, ../sass/_common.scss */
  .outProducts .row__bottom .tab .tablink {
    width: 33.3333%;
    font-size: 1.2rem;
    padding: 1.2rem 0.5rem;
  }
}
@media only screen and (max-width: 968px) {
  /* line 233, ../sass/_common.scss */
  .outProducts .row__bottom .tab button.tablink.active_tab {
    font-weight: 700;
    font-size: 1.6rem;
  }
}
/* line 239, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink:last-child {
  border-top-right-radius: 0.5rem;
}
/* line 242, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink:first-child {
  border-top-left-radius: 0.5rem;
}
/* line 245, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink:first-child::before {
  content: '';
  height: 50%;
  width: 1px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* line 255, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink:last-child::after {
  content: '';
  height: 50%;
  width: 1px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* line 265, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink:hover {
  background-color: #fff;
  color: #0c4947 !important;
  transition: all 0.5s;
}
/* line 270, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink-1:hover {
  padding: 2rem 0.6rem !important;
}
/* line 273, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink-2:hover {
  padding: 2rem 0.6rem !important;
}
/* line 276, ../sass/_common.scss */
.outProducts .row__bottom .tab .tablink-3:hover {
  padding: 2rem 0.6rem !important;
}
/* line 280, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent {
  position: relative;
  color: #fff;
  background-color: #fff;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 968px) {
  /* line 280, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent {
    padding: 2rem 1.5rem;
  }
}
/* line 289, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .row {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  /* line 292, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent .row .product-box {
    width: 20%;
  }
}
/* line 297, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .row .col {
  margin: 3rem 0;
}
@media only screen and (max-width: 968px) {
  /* line 297, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent .row .col {
    margin: 1.25rem 0;
  }
}
/* line 302, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .row .col .icon-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* line 304, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .row .col .icon-box-img {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 968px) {
  /* line 304, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent .row .col .icon-box-img {
    margin-right: 0;
  }
}
/* line 311, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .row .col .icon-box-text p {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
}
@media only screen and (max-width: 968px) {
  /* line 311, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent .row .col .icon-box-text p {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 968px) {
  /* line 302, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent .row .col .icon-box {
    flex-direction: column;
  }
}
/* line 327, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .content-col2 {
  width: 100%;
  margin: 0 auto;
}
/* line 330, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .content-col2 .col2 {
  margin: 3rem 0;
}
/* line 332, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* line 334, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-img {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 968px) {
  /* line 334, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-img {
    margin-right: 0;
  }
}
/* line 341, ../sass/_common.scss */
.outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-text p {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
}
@media only screen and (max-width: 968px) {
  /* line 341, ../sass/_common.scss */
  .outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-text p {
    text-align: center;
    font-size: 1.2rem;
  }
}
/* line 357, ../sass/_common.scss */
.outProducts .tabcontent::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(#f4f4f4, #0c4947);
  position: absolute;
  top: 5rem;
  left: 3rem;
  z-index: -1;
}
@media only screen and (max-width: 968px) {
  /* line 357, ../sass/_common.scss */
  .outProducts .tabcontent::before {
    top: 3rem;
    left: 2rem;
  }
}

/* line 373, ../sass/_common.scss */
.outProducts-1 {
  background: url(./../image/bg-product.png) left top no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 968px) {
  /* line 373, ../sass/_common.scss */
  .outProducts-1 {
    background: url(./../image/bg-product-mobile.png) left top no-repeat;
    background-size: contain;
  }
}

/* line 381, ../sass/_common.scss */
#Home {
  background-color: #fff;
}

/* line 384, ../sass/_common.scss */
#News {
  background-color: #fff;
}

/* line 387, ../sass/_common.scss */
#About {
  background-color: #fff;
}

/* line 391, ../sass/_common.scss */
.solutions {
  margin-top: 6rem;
  padding: 10rem 0;
  background: url(/common/image/bg-solution.png) left top no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 968px) {
  /* line 391, ../sass/_common.scss */
  .solutions {
    background: url(/common/image/bg-solution-mobile.png) left top no-repeat;
    background-size: contain;
  }
}
/* line 400, ../sass/_common.scss */
.solutions .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 405, ../sass/_common.scss */
.solutions .row .col {
  padding: 0 0.75rem;
}
@media only screen and (max-width: 968px) {
  /* line 405, ../sass/_common.scss */
  .solutions .row .col {
    padding: 0;
  }
}
/* line 410, ../sass/_common.scss */
.solutions .row .col h1 {
  font-size: 5.5rem;
  margin: 0 0 3rem 0;
  font-weight: 700;
  font-family: Roboto-Bold;
}
@media only screen and (max-width: 968px) {
  /* line 410, ../sass/_common.scss */
  .solutions .row .col h1 {
    font-size: 3.5rem;
    line-height: calc(45/35);
    margin-top: 2rem;
  }
}
/* line 421, ../sass/_common.scss */
.solutions .row .col p {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}
@media only screen and (max-width: 968px) {
  /* line 421, ../sass/_common.scss */
  .solutions .row .col p {
    margin-bottom: 0;
  }
}
/* line 428, ../sass/_common.scss */
.solutions .row .col .btn {
  display: inline-block;
  background-color: #fff;
  color: #0c4947;
  border-radius: 3rem;
  padding: 1.5rem 5rem 1.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  margin-top: 5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  font-family: NotoSansJP-Regular;
}
@media only screen and (max-width: 968px) {
  /* line 428, ../sass/_common.scss */
  .solutions .row .col .btn {
    margin-top: 3rem;
  }
}
/* line 445, ../sass/_common.scss */
.solutions .row .col .btn:hover {
  background-color: #0c4947 !important;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}
/* line 450, ../sass/_common.scss */
.solutions .row .col .btn::after {
  content: '\f30b';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 1.5rem;
}
/* line 459, ../sass/_common.scss */
.solutions .row .col .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
/* line 463, ../sass/_common.scss */
.solutions .row__right {
  width: 60%;
  padding: 0 0.75rem;
}
/* line 466, ../sass/_common.scss */
.solutions .row__right img {
  width: 100%;
}

/* line 472, ../sass/_common.scss */
.coreValue {
  padding: 10rem 0 30rem 0;
  background: url(/common/image/core_value.png) left top no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 968px) {
  /* line 472, ../sass/_common.scss */
  .coreValue {
    background: url(/common/image/bg-core_mobile.png) left top no-repeat;
    background-size: 100% 100%;
    padding: 2rem 0 13rem 0;
  }
}
/* line 481, ../sass/_common.scss */
.coreValue .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 486, ../sass/_common.scss */
.coreValue .row__left {
  width: calc(50% - 3rem);
  margin-right: 3rem;
  padding: 0 0.75rem;
}
/* line 490, ../sass/_common.scss */
.coreValue .row__left img {
  width: 100%;
}
/* line 494, ../sass/_common.scss */
.coreValue .row .col {
  padding: 0 0.75rem;
}
/* line 496, ../sass/_common.scss */
.coreValue .row .col h1 {
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 7rem;
  margin: 0 0 3rem 0;
  font-family: Roboto-Bold;
}
@media only screen and (max-width: 968px) {
  /* line 496, ../sass/_common.scss */
  .coreValue .row .col h1 {
    font-size: 3.6rem;
    line-height: 4.5rem;
  }
}
/* line 507, ../sass/_common.scss */
.coreValue .row .col p {
  font-size: 1.6rem;
}
/* line 510, ../sass/_common.scss */
.coreValue .row .col .btn {
  display: block;
  font-family: NotoSansJP-Regular;
  background: transparent;
}
/* line 515, ../sass/_common.scss */
.coreValue .row .col .btn-transparent {
  border-radius: 3rem;
  padding: 1.5rem 5rem 1.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  margin-top: 2.5rem;
  border: 1px solid #0c4947;
  display: block;
  text-align: left;
  transition: all 0.25s;
  min-width: 32rem;
}
@media only screen and (max-width: 968px) {
  /* line 515, ../sass/_common.scss */
  .coreValue .row .col .btn-transparent {
    width: 100%;
  }
}
/* line 529, ../sass/_common.scss */
.coreValue .row .col .btn-transparent span {
  transition: all 0.25s;
  font-size: 1.2rem;
}
/* line 532, ../sass/_common.scss */
.coreValue .row .col .btn-transparent span:first-child {
  margin-right: 2rem;
}
/* line 537, ../sass/_common.scss */
.coreValue .row .col .btn-transparent.btn-bg-white {
  border: 1px solid #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
  color: #0c4947;
  border-radius: 3rem;
  padding: 1.5rem 6rem 1.5rem 3rem;
  min-width: 28rem;
  position: relative;
  font-size: 1.6rem;
  margin-top: 5rem;
}
@media only screen and (max-width: 968px) {
  /* line 537, ../sass/_common.scss */
  .coreValue .row .col .btn-transparent.btn-bg-white {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 425px) {
  /* line 537, ../sass/_common.scss */
  .coreValue .row .col .btn-transparent.btn-bg-white {
    padding-right: 1rem;
    padding-left: 1.2rem;
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 968px) {
  /* line 537, ../sass/_common.scss */
  .coreValue .row .col .btn-transparent.btn-bg-white {
    width: auto;
    padding-right: 7.5rem !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 537, ../sass/_common.scss */
  .coreValue .row .col .btn-transparent.btn-bg-white {
    width: calc(100% - 1.5rem);
  }
}
/* line 566, ../sass/_common.scss */
.coreValue .row .col .btn-transparent::after {
  content: '\f30b';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 2rem;
}
/* line 579, ../sass/_common.scss */
.coreValue .row .col .btn-transparent:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
/* line 583, ../sass/_common.scss */
.coreValue .row .col .btn-transparent:hover {
  background: #fff;
  border-color: #fff;
}
/* line 587, ../sass/_common.scss */
.coreValue .row .col .btn-transparent.btn-bg-white:hover {
  background-color: #0c4947 !important;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 595, ../sass/_common.scss */
.news {
  margin-top: -15rem;
  padding-bottom: 10rem;
}
/* line 598, ../sass/_common.scss */
.news .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 603, ../sass/_common.scss */
.news .row__top {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 968px) {
  /* line 603, ../sass/_common.scss */
  .news .row__top {
    margin-top: 15rem;
  }
}
/* line 612, ../sass/_common.scss */
.news .row__top .title {
  width: 100%;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 968px) {
  /* line 612, ../sass/_common.scss */
  .news .row__top .title {
    margin-bottom: 1rem;
  }
}
/* line 618, ../sass/_common.scss */
.news .row__top .title .text-center {
  text-align: center !important;
  font-size: 3.5rem;
  color: #0c4947;
  font-weight: 300;
  margin: 0;
}
/* line 625, ../sass/_common.scss */
.news .row__top .title h1 {
  font-size: 3.5rem;
  color: #0c4947;
}
@media only screen and (max-width: 991px) {
  /* line 625, ../sass/_common.scss */
  .news .row__top .title h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 625, ../sass/_common.scss */
  .news .row__top .title h1 {
    width: 9rem;
  }
}
/* line 635, ../sass/_common.scss */
.news .row__top .title .btn {
  display: block;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 1.5rem;
}
/* line 642, ../sass/_common.scss */
.news .row__top .title .btn-bg-white {
  padding: 1rem 5rem 1rem 2rem;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: #0c4947;
}
/* line 651, ../sass/_common.scss */
.news .row__top .title .btn-bg-white::after {
  content: '\f30b';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 1.5rem;
}
/* line 660, ../sass/_common.scss */
.news .row__top .title .btn-bg-white:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
/* line 663, ../sass/_common.scss */
.news .row__top .title .btn-bg-white:hover {
  background-color: #0c4947;
  color: #fff;
}
/* line 669, ../sass/_common.scss */
.news .row__bottom {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 673, ../sass/_common.scss */
.news .row__bottom .col {
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  /* line 673, ../sass/_common.scss */
  .news .row__bottom .col {
    padding: 0;
  }
}
/* line 678, ../sass/_common.scss */
.news .row__bottom .col .meta {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 991px) {
  /* line 678, ../sass/_common.scss */
  .news .row__bottom .col .meta {
    padding: 0;
  }
}
/* line 687, ../sass/_common.scss */
.news .row__bottom .col .meta .category h4 {
  margin: 0;
  font-weight: 300;
  padding: 0 0 0 2.5rem;
  position: relative;
}
/* line 693, ../sass/_common.scss */
.news .row__bottom .col .meta .category h4::before {
  content: '';
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #02b9a4;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 706, ../sass/_common.scss */
.news .row__bottom .col .meta .time h5 {
  margin: 0;
  font-size: 1.2rem;
  color: #9a9a9a;
  font-weight: 300;
}
/* line 715, ../sass/_common.scss */
.news .row__bottom .col .box {
  width: 100%;
  padding: 0 2rem;
}
@media only screen and (max-width: 968px) {
  /* line 715, ../sass/_common.scss */
  .news .row__bottom .col .box {
    margin-right: 1.5rem;
    padding: 0;
  }
}
@media only screen and (max-width: 968px) {
  /* line 722, ../sass/_common.scss */
  .news .row__bottom .col .box .image-box {
    margin-right: 1.5rem;
  }
}
/* line 725, ../sass/_common.scss */
.news .row__bottom .col .box .image-box z
img {
  width: 100%;
}
/* line 730, ../sass/_common.scss */
.news .row__bottom .col .box .text-box {
  width: 100%;
}
/* line 732, ../sass/_common.scss */
.news .row__bottom .col .box .text-box .meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
/* line 737, ../sass/_common.scss */
.news .row__bottom .col .box .text-box .meta .category h4 {
  margin: 0;
  font-weight: 300;
  padding: 0 0 0 2.5rem;
  position: relative;
}
/* line 743, ../sass/_common.scss */
.news .row__bottom .col .box .text-box .meta .category h4::before {
  content: '';
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #02b9a4;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 756, ../sass/_common.scss */
.news .row__bottom .col .box .text-box .meta .time h5 {
  margin: 0;
  font-size: 1.2rem;
  color: #9a9a9a;
  font-weight: 300;
}
/* line 766, ../sass/_common.scss */
.news .row__bottom .col .box .blog-title h3 {
  margin: 1.6rem 0;
  font-size: 1.6rem;
}
@media only screen and (max-width: 968px) {
  /* line 766, ../sass/_common.scss */
  .news .row__bottom .col .box .blog-title h3 {
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    font-family: NotoSansJP-Bold;
    margin: 1rem 0;
  }
}
/* line 776, ../sass/_common.scss */
.news .row__bottom .col .box .blog-title h3:hover {
  color: #02b9a4;
}
/* line 779, ../sass/_common.scss */
.news .row__bottom .col .box .blog-title p {
  font-size: 16px;
  line-height: 1.5625;
  color: #121212;
}
/* line 787, ../sass/_common.scss */
.news .row__bottom .col .blog-content p {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media only screen and (max-width: 968px) {
  /* line 787, ../sass/_common.scss */
  .news .row__bottom .col .blog-content p {
    font-size: 1.4rem;
  }
}
/* line 797, ../sass/_common.scss */
.news .row__bottom .col-3 .image-box {
  transform: translateY(15px);
}

/* line 804, ../sass/_common.scss */
.location {
  padding: 10rem 0 3rem 0;
  background: url(/common/image/bg-location.png) left top no-repeat;
  background-size: cover;
  height: 52.5rem;
}
@media only screen and (max-width: 968px) {
  /* line 804, ../sass/_common.scss */
  .location {
    background: url(/common/image/bg_location-mobile.png) center center no-repeat;
    background-size: cover;
  }
}
/* line 814, ../sass/_common.scss */
.location .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 819, ../sass/_common.scss */
.location .row__info {
  display: flex;
  flex-direction: column;
}
/* line 822, ../sass/_common.scss */
.location .row__info h1 {
  margin: 0;
  font-size: 5rem;
  font-family: Roboto-Bold;
  color: #fff;
}
@media only screen and (max-width: 968px) {
  /* line 822, ../sass/_common.scss */
  .location .row__info h1 {
    font-size: 4rem;
  }
}
/* line 831, ../sass/_common.scss */
.location .row__info .text {
  font-size: 1.6rem;
  color: #fff;
  font-family: NotoSansJP-Regular;
  margin: 5rem 0;
}
@media only screen and (max-width: 968px) {
  /* line 831, ../sass/_common.scss */
  .location .row__info .text {
    margin: 4rem 0 4.5rem 0;
  }
}
/* line 840, ../sass/_common.scss */
.location .row__info .btn-bg-white {
  padding: 1.5rem 5.5rem 1.5rem 2.5rem;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: #0c4947;
  position: relative;
  align-self: flex-end;
}
@media only screen and (max-width: 968px) {
  /* line 840, ../sass/_common.scss */
  .location .row__info .btn-bg-white {
    align-self: center;
  }
}
/* line 854, ../sass/_common.scss */
.location .row__info .btn-bg-white::after {
  content: '\f30b';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 2rem;
}
/* line 863, ../sass/_common.scss */
.location .row__info .btn-bg-white:hover::after {
  transform: translateY(-50%) scaleX(1.4) !important;
}
/* line 866, ../sass/_common.scss */
.location .row__info .btn-bg-white:hover {
  background-color: #0c4947;
  color: #fff;
}

/* line 873, ../sass/_common.scss */
.creation {
  margin-bottom: 10rem;
  padding: 8rem 0;
  background-image: url(/common/image/bg-co-creation.png);
  background-size: contain;
}
@media only screen and (max-width: 968px) {
  /* line 873, ../sass/_common.scss */
  .creation {
    background: url(/common/image/bg-co-creation-mobile.png) left bottom no-repeat;
    background-size: contain;
    margin-bottom: 2rem;
  }
}
/* line 884, ../sass/_common.scss */
.creation__btn-wrap {
  display: flex;
  justify-content: flex-end;
}
/* line 888, ../sass/_common.scss */
.creation .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 893, ../sass/_common.scss */
.creation .row__left {
  width: 45%;
}
/* line 895, ../sass/_common.scss */
.creation .row__left .img {
  width: 100%;
}
/* line 897, ../sass/_common.scss */
.creation .row__left .img .img-fluid {
  width: 100%;
  height: auto;
}
/* line 903, ../sass/_common.scss */
.creation .row__right {
  width: 55%;
  margin-top: -0.5rem;
}
/* line 906, ../sass/_common.scss */
.creation .row__right--text {
  margin: 0 0 0 auto;
  padding-left: 5rem;
  font-family: NotoSansJP-Regular;
}
@media only screen and (max-width: 968px) {
  /* line 906, ../sass/_common.scss */
  .creation .row__right--text {
    padding: 0;
    margin: 3rem 0 0 0;
  }
}
/* line 914, ../sass/_common.scss */
.creation .row__right--text h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  font-weight: 300;
}
/* line 919, ../sass/_common.scss */
.creation .row__right--text p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000000;
  margin: 0 0 1rem 0;
}
/* line 926, ../sass/_common.scss */
.creation .row__right--text .btn {
  padding: 1rem 5.5rem 1.5rem 1.5rem;
  background-color: transparent;
  border: 2px solid #0c4947;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: #0c4947;
  position: relative;
}
/* line 936, ../sass/_common.scss */
.creation .row__right--text .btn::after {
  content: '\f35d';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
}
/* line 945, ../sass/_common.scss */
.creation .row__right--text .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
/* line 948, ../sass/_common.scss */
.creation .row__right--text .btn:hover {
  background-color: #fff;
  color: #0c4947;
  border: 2px solid #fff;
}

/* line 957, ../sass/_common.scss */
.contact {
  margin-bottom: 10rem;
  padding: 8rem 0;
  background-color: #02b9a4;
}
@media only screen and (max-width: 968px) {
  /* line 957, ../sass/_common.scss */
  .contact {
    padding: 6.4rem 0;
  }
}
@media only screen and (max-width: 991px) {
  /* line 957, ../sass/_common.scss */
  .contact {
    margin-bottom: 0;
  }
}
/* line 967, ../sass/_common.scss */
.contact .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* line 972, ../sass/_common.scss */
.contact .row__left {
  padding: 0 1.5rem;
}
@media only screen and (max-width: 968px) {
  /* line 972, ../sass/_common.scss */
  .contact .row__left {
    padding: 0;
  }
}
/* line 978, ../sass/_common.scss */
.contact .row__left--text p {
  color: #fff;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  margin: 0;
}
@media only screen and (max-width: 968px) {
  /* line 978, ../sass/_common.scss */
  .contact .row__left--text p {
    margin-bottom: 2rem;
  }
}
/* line 989, ../sass/_common.scss */
.contact .row__right {
  padding: 0 1.5rem;
}
@media only screen and (max-width: 968px) {
  /* line 989, ../sass/_common.scss */
  .contact .row__right {
    padding: 0;
  }
}
/* line 994, ../sass/_common.scss */
.contact .row__right--btn {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 994, ../sass/_common.scss */
  .contact .row__right--btn {
    margin-top: 3rem;
  }
}
/* line 999, ../sass/_common.scss */
.contact .row__right--btn .btn {
  padding: 2rem 7rem 2rem 2rem;
  border: 2px solid white;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: white;
  background: transparent;
  position: relative;
  transition: all 0.25s;
}
@media only screen and (max-width: 968px) {
  /* line 1010, ../sass/_common.scss */
  .contact .row__right--btn .cs-btn-contact {
    width: 17.9rem;
    padding: 1.2rem 4rem 1.2rem 1rem;
  }
}
/* line 1016, ../sass/_common.scss */
.contact .row__right--btn .btn::after {
  content: '\f30b';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 3rem;
}
@media only screen and (max-width: 968px) {
  /* line 1016, ../sass/_common.scss */
  .contact .row__right--btn .btn::after {
    margin-left: 2rem;
  }
}
/* line 1028, ../sass/_common.scss */
.contact .row__right--btn .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
/* line 1031, ../sass/_common.scss */
.contact .row__right--btn .btn:hover {
  box-shadow: inset 0 0 20px white;
  outline-offset: 1rem;
  text-shadow: 1px 1px 2px #0c4947;
}

/* line 1040, ../sass/_common.scss */
.related {
  padding-top: 7rem;
}
@media only screen and (max-width: 968px) {
  /* line 1040, ../sass/_common.scss */
  .related {
    padding-top: 3rem;
  }
}
/* line 1045, ../sass/_common.scss */
.related .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 1051, ../sass/_common.scss */
.related .row__content--text {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #000000;
}
@media only screen and (max-width: 991px) {
  /* line 1051, ../sass/_common.scss */
  .related .row__content--text {
    text-align: center;
  }
}
/* line 1060, ../sass/_common.scss */
.related .row__content--text h3 {
  margin: 0;
}
/* line 1064, ../sass/_common.scss */
.related .row__content--col {
  padding: 1.5rem 1rem;
}
/* line 1066, ../sass/_common.scss */
.related .row__content--col img {
  width: 100%;
}
/* line 1070, ../sass/_common.scss */
.related .row__content--col img:hover {
  box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 1077, ../sass/_common.scss */
.companies {
  padding: 4rem 0;
}
/* line 1079, ../sass/_common.scss */
.companies .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 1084, ../sass/_common.scss */
.companies .row__content--text {
  width: 100%;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #000000;
}
@media only screen and (max-width: 991px) {
  /* line 1084, ../sass/_common.scss */
  .companies .row__content--text {
    text-align: center;
  }
}
/* line 1095, ../sass/_common.scss */
.companies .row__content--text h3 {
  margin: 0;
}
/* line 1099, ../sass/_common.scss */
.companies .row__content--col {
  padding: 0 1rem;
  margin-bottom: 3rem;
}
/* line 1102, ../sass/_common.scss */
.companies .row__content--col .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-family: NotoSansJP-Regular;
  background-color: #fff;
  padding: 0 1.5rem;
  height: 5.8rem;
}
/* line 1112, ../sass/_common.scss */
.companies .row__content--col .box--icon {
  color: #02b9a4;
}
/* line 1116, ../sass/_common.scss */
.companies .row__content--col .box:hover {
  box-shadow: 2px 2px 20px 5px rgba(103, 225, 220, 0.15);
  cursor: pointer;
  color: #02b9a4;
}

/* line 1127, ../sass/_common.scss */
.h-pc {
  display: block;
}
@media (min-width: 969px) {
  /* line 1127, ../sass/_common.scss */
  .h-pc {
    display: none;
  }
}

/* line 1134, ../sass/_common.scss */
.h-sp {
  display: none;
}
@media (min-width: 969px) {
  /* line 1134, ../sass/_common.scss */
  .h-sp {
    display: block;
  }
}

/* line 1141, ../sass/_common.scss */
.none {
  display: none !important;
}

/* line 1144, ../sass/_common.scss */
.block {
  display: block !important;
}

@media (min-width: 768px) {
  /* line 1148, ../sass/_common.scss */
  .break-pc {
    display: block;
  }
}

@media (max-width: 968px) {
  /* line 1154, ../sass/_common.scss */
  .break-sp {
    display: block;
  }
}

/* line 1159, ../sass/_common.scss */
.wrap, .outProducts .row__bottom .tabcontent .row, .related .row__content, .companies .row__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 1166, ../sass/_common.scss */
.outProducts .row__bottom .tab .activeBefore.tablink:first-child::before {
  display: none;
}

/* line 1169, ../sass/_common.scss */
.outProducts .row__bottom .tab .activeAfter.tablink:last-child::after {
  display: none;
}

/* line 1, ../sass/_footer.scss */
footer {
  background-color: #fff;
  padding: 2.5rem 0;
  width: 100%;
}
@media only screen and (max-width: 968px) {
  /* line 1, ../sass/_footer.scss */
  footer {
    padding: 3.5rem 0;
  }
}
/* line 8, ../sass/_footer.scss */
footer .row {
  width: 100%;
}
/* line 10, ../sass/_footer.scss */
footer .row__content {
  width: 100%;
}
/* line 14, ../sass/_footer.scss */
footer .row__content .footer__left p {
  margin: 0;
  font-size: 1.2rem;
  font-family: NotoSansJP-Regular;
  font-weight: 100;
  color: #0c4947;
}
@media only screen and (max-width: 968px) {
  /* line 14, ../sass/_footer.scss */
  footer .row__content .footer__left p {
    font-size: 2rem;
  }
}
/* line 26, ../sass/_footer.scss */
footer .row__content .footer__right ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 968px) {
  /* line 26, ../sass/_footer.scss */
  footer .row__content .footer__right ul {
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
/* line 36, ../sass/_footer.scss */
footer .row__content .footer__right ul li {
  margin-left: 3rem;
  font-size: 1.2rem;
  font-family: NotoSansJP-Regular;
}
/* line 41, ../sass/_footer.scss */
footer .row__content .footer__right ul a {
  text-decoration: none;
  color: #0c4947;
}
/* line 45, ../sass/_footer.scss */
footer .row__content .footer__right ul a:hover {
  color: #02b9a4;
  cursor: pointer;
}
/* line 50, ../sass/_footer.scss */
footer .row__content .footer__right li:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 968px) {
  /* line 50, ../sass/_footer.scss */
  footer .row__content .footer__right li:first-child {
    width: 100%;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 968px) {
  /* line 58, ../sass/_footer.scss */
  footer .row__content .footer__right li:nth-child(2n + 1):not(:first-child) {
    width: 50%;
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 968px) {
  /* line 66, ../sass/_footer.scss */
  footer .row__content .footer__right li:nth-child(2n + 2) {
    width: 40%;
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
/* line 74, ../sass/_footer.scss */
footer .row__content .footer__right li:nth-child(2) {
  margin-left: 0;
}
@media only screen and (max-width: 968px) {
  /* line 74, ../sass/_footer.scss */
  footer .row__content .footer__right li:nth-child(2) {
    width: 30%;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
/* line 84, ../sass/_footer.scss */
footer .row__content .go-top {
  display: none;
}
/* line 86, ../sass/_footer.scss */
footer .row__content .go-top .img {
  width: 4.7rem;
  height: 4.8rem;
  position: fixed;
  bottom: 10.5rem;
  right: 5rem;
  z-index: 9999;
}
@media only screen and (max-width: 968px) {
  /* line 86, ../sass/_footer.scss */
  footer .row__content .go-top .img {
    width: 3rem;
    height: 3rem;
    bottom: 5.5rem;
    right: 2rem;
  }
}
/* line 101, ../sass/_footer.scss */
footer .row__content .go-top .img:hover {
  transform: scale(1.2);
}

@media (max-width: 1290px) {
  /* line 3, ../sass/_responsive.scss */
  header {
    height: 5rem;
  }
  /* line 5, ../sass/_responsive.scss */
  header .navbar {
    height: 5rem;
  }
  /* line 7, ../sass/_responsive.scss */
  header .navbar img {
    height: 5rem;
  }

  /* line 12, ../sass/_responsive.scss */
  header .navbar__right {
    width: 100%;
  }

  /* line 15, ../sass/_responsive.scss */
  header .navbar__right--support .nav-item a {
    font-size: 1.2rem;
    padding: 1.5rem 1.2rem;
  }

  /* line 19, ../sass/_responsive.scss */
  header .navbar__right--end .btn {
    font-size: 1.2rem;
    padding: 0 1.8rem;
  }
}
@media (min-width: 969px) {
  /* line 26, ../sass/_responsive.scss */
  .thumbnail-sub {
    display: none !important;
  }

  /* line 29, ../sass/_responsive.scss */
  header .navbar__right {
    width: auto;
  }

  /* line 32, ../sass/_responsive.scss */
  header .navbar__right--support {
    display: flex;
  }

  /* line 36, ../sass/_responsive.scss */
  header .btn_show_navbar {
    display: none;
  }

  /* line 39, ../sass/_responsive.scss */
  .js-close {
    display: none;
  }
}
@media (max-width: 968px) {
  /* line 45, ../sass/_responsive.scss */
  header .close {
    display: none;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    height: 5rem;
    padding: 1.5rem;
  }
  /* line 53, ../sass/_responsive.scss */
  header .close .navbar-toggler-icon {
    background-image: url(./../image/close.png);
    background-size: contain;
    background-position-x: center;
  }

  /* line 60, ../sass/_responsive.scss */
  header .navbar-toggler-icon {
    vertical-align: unset !important;
  }

  /* line 64, ../sass/_responsive.scss */
  header .btn_show_navbar {
    display: block;
    padding: 1.7rem 2rem;
    position: fixed;
    right: 0;
    background: white;
  }
}
@media only screen and (max-width: 968px) and (max-width: 968px) {
  /* line 64, ../sass/_responsive.scss */
  header .btn_show_navbar {
    padding: 1.2rem 2rem;
  }
}
@media (max-width: 968px) {
  /* line 73, ../sass/_responsive.scss */
  header .btn_show_navbar .navbar-toggler-icon {
    background: white;
    background-image: url(./../image/icon-menu.png);
    background-size: contain;
    background-position-x: right;
    height: 1.5rem;
    width: 1.5rem;
  }

  /* line 82, ../sass/_responsive.scss */
  .btn_show_navbar::before {
    content: '日本語';
    color: #02b9a4;
    margin-right: 30px;
  }

  /* line 88, ../sass/_responsive.scss */
  .slider .rows {
    display: none !important;
  }

  /* line 91, ../sass/_responsive.scss */
  header .navbar__right {
    width: 100%;
  }

  /* line 94, ../sass/_responsive.scss */
  header .navbar__right--support {
    display: none;
    width: 100%;
    height: 100vh;
    background: url(./../image/bg_mv.png) top left no-repeat;
    background-size: 100% 100%;
    background-color: #f4f4f4;
  }

  /* line 102, ../sass/_responsive.scss */
  header .navbar__right--end {
    display: none;
  }

  /* line 105, ../sass/_responsive.scss */
  header.js-close {
    display: block;
    background: red;
  }

  /* line 110, ../sass/_responsive.scss */
  .slider .rows {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: static;
  }

  /* line 117, ../sass/_responsive.scss */
  .slider .rows__thumbnail {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    margin: 1.5rem 0;
    height: 0.3rem;
    background: #fff;
  }

  /* line 127, ../sass/_responsive.scss */
  .slider .rows__thumbnail .column {
    position: relative;
    width: 25%;
  }

  /* line 131, ../sass/_responsive.scss */
  .slider .rows__thumbnail .column .color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #0c4947;
  }

  /* line 139, ../sass/_responsive.scss */
  .slider .rows__thumbnail .column img {
    display: none;
    width: 100%;
  }

  /* line 143, ../sass/_responsive.scss */
  .slider .mySlides .row__right--text {
    padding: 0;
  }

  /* line 147, ../sass/_responsive.scss */
  header .navbar__right--support .nav-item:first-child {
    margin-top: 3rem;
  }

  /* line 150, ../sass/_responsive.scss */
  header .navbar__right--support .nav-item {
    margin-left: 3rem;
    margin-right: 3rem;
    border-top: 1px solid #ffffff78;
  }

  /* line 155, ../sass/_responsive.scss */
  header .navbar__right--support .nav-item a {
    padding: 3rem 0;
    font-family: NotoSansJP-Regular;
    font-size: 1.6rem;
  }

  /* line 161, ../sass/_responsive.scss */
  footer .row__content .go-top {
    display: none;
  }
}
