@charset "UTF-8";
html {
  font-size: 2.6666666667vw;
}
@media (min-width: 969px) {
  html {
    font-size: 62.5%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NotoSansJP-Regular", "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
  color: #333333;
  background-color: #f4f4f4;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

a,
button {
  text-decoration: none;
  color: #0066C5;
}
a:hover,
button:hover {
  opacity: 0.7;
  text-decoration: none;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 968px) {
  .container {
    padding: 0;
  }
}

@media (min-width: 969px) and (max-width: 1200px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: calc(100vw - 60px) !important;
  }
}
@media (min-width: 540px) and (max-width: 968px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: calc(100vw - 3em) !important;
  }
}
@media (max-width: 540px) {
  .container {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

@font-face {
  font-family: NotoSansJP-Bold;
  src: url(../../common/fonts/NotoSansJP-Bold.otf);
}
@font-face {
  font-family: NotoSansJP-Regular;
  src: url(../../common/fonts/NotoSansJP-Regular.otf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../common/fonts/Roboto-Bold.ttf);
}
header {
  width: 100%;
  height: 9rem;
}
header .navbar {
  background: #1fbeaa;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0;
  height: 9rem;
}
header .navbar .container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
header .navbar__right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
header .navbar__right--support {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar__right--support .nav-item {
  list-style: none;
}
header .navbar__right--support .nav-item a {
  text-decoration: none;
  font-family: NotoSansJP-Bold;
  color: #fff;
  padding: 1.5rem;
  transition: all 0.25s;
}
header .navbar__right--support .nav-item a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.0784313725);
}
header .navbar__right--end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
header .navbar__right--end .btn {
  font-family: NotoSansJP-Regular;
  padding: 0 3rem;
  font-size: 1.6rem;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  height: 100%;
}
header .navbar__right--end .btn-bg {
  background-color: #0c4947;
}
header .navbar__right--end .btn-bg:hover {
  opacity: 0.7;
}
header .navbar__right--end .btn-bg-white {
  background-color: #fff;
  color: #02b9a4;
  border-radius: 0;
}
header .navbar__right--end .btn-bg-white:hover {
  background-color: #fff;
  color: #0c4947;
  opacity: 0.9;
}
header .popupSearch .modal-content {
  background-image: linear-gradient(#02b9a4, #fdeadd);
}
header .popupSearch .modal-content .modal-header {
  width: 100%;
  border: 1px solid transparent;
  padding-top: 3rem;
  border-bottom: 1px solid transparent;
}
header .popupSearch .modal-content .modal-header .modal-title.text-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.5rem;
  font-family: NotoSansJP-Bold;
  color: #fff;
}
header .popupSearch .modal-content .modal-header .btn-close {
  background: url(../../common/image/btn-close.png) center center no-repeat;
  background-size: contain;
  opacity: 1;
  transition: all 0.25s;
  margin-right: 3rem;
  transform: scale(1.2);
}
header .popupSearch .modal-content .modal-body {
  width: 100%;
  margin-top: 3rem;
}
@media only screen and (max-width: 968px) {
  header .popupSearch .modal-content .modal-body {
    overflow-x: hidden;
  }
}
header .popupSearch .boxSearch {
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
header .popupSearch .boxSearch__label {
  margin-bottom: 0;
  margin-right: 1.5rem;
  flex: 1;
  text-align: right;
  color: #fff;
}
@media only screen and (max-width: 992px) {
  header .popupSearch .boxSearch__label {
    margin-bottom: 1.5rem !important;
    font-size: 1.6rem !important;
  }
}
header .popupSearch .search-form {
  flex: 3;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}
header .popupSearch .search-form__input {
  border: 0;
  background-color: #fff;
  height: 6rem;
  min-width: 100%;
  border-radius: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
header .popupSearch .search-form__btn {
  width: 3.1rem;
  height: 3.1rem;
  background: url(/common/image/icon-search.png) center center no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
  z-index: 9999;
  background-color: transparent;
}

.slider {
  padding: 10rem 0 23rem 0;
  background-image: url(../../common/image/bg-top.png);
  background-size: 100% 100%;
  margin-top: -6rem;
  position: relative;
}
@media only screen and (max-width: 968px) {
  .slider {
    background: url(../../common/image/bg_mv.png) top center no-repeat;
    background-size: 100% 100%;
    margin-top: -5rem;
    padding-bottom: 20rem !important;
    padding-top: 9rem;
  }
}
.slider .thumbnail-sub {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.slider .mySlides {
  width: 100%;
  display: none;
}
.slider .mySlides .row {
  display: flex;
  flex-wrap: wrap;
}
.slider .mySlides .row img {
  width: calc(100% - 3rem);
}
@media only screen and (max-width: 968px) {
  .slider .mySlides .row img {
    width: 100%;
  }
}
.slider .mySlides .row__left {
  width: 58.33333%;
}
.slider .mySlides .row__right {
  width: 41.66667%;
}
.slider .mySlides .row__right--text h1 {
  color: #fff;
  font-size: 3.6rem;
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 968px) {
  .slider .mySlides .row__right--text h1 {
    font-size: 2.4rem;
    width: 27rem;
  }
}
.slider .mySlides .row__right--text p {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 968px) {
  .slider .mySlides .row__right--text p {
    color: #0c4947;
    font-size: 1.2rem;
    width: 27rem;
  }
}
.slider .mySlides .row__right--text .btn {
  display: inline-block;
  background-color: #fff;
  color: #0c4947;
  border-radius: 3rem;
  padding: 1.5rem 5rem 1.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: 400;
  text-align: center;
  border: 0.1rem solid transparent;
  font-family: NotoSansJP-Regular;
}
.slider .mySlides .row__right--text .btn:hover {
  background-color: #0c4947 !important;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}
.slider .mySlides .row__right--text .btn::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 1.5rem;
}
.slider .mySlides .row__right--text .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
.slider .rows {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider .rows__thumbnail {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 6rem;
  position: relative;
  left: 3rem;
}
.slider .rows__thumbnail .column {
  position: relative;
}
.slider .rows__thumbnail .column .color {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 0.2rem;
  background-color: #0c4947;
}
@media only screen and (min-width: 969px) and (max-width: 991px) {
  .slider .rows {
    display: none;
  }
}

.slider::after {
  background: url(../../common/image/scroll.png);
  background-size: contain;
  position: absolute;
  bottom: 16rem;
  right: 3rem;
  width: 1.6rem;
  height: 11rem;
  content: "";
}

img {
  vertical-align: middle;
}

.container {
  position: relative;
}

.cursor {
  cursor: pointer;
}

.numbertext {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 1;
}

.active,
.demo:hover {
  opacity: 0.7;
}

.outProducts {
  padding: 2rem 0 10rem 0;
}
@media only screen and (max-width: 968px) {
  .outProducts {
    padding: 0;
  }
}
.outProducts .row {
  width: 100%;
  margin: 0 auto;
}
.outProducts .row__top {
  width: 100%;
}
.outProducts .row__top h1 {
  text-align: center;
  color: #0c4947;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  padding-bottom: 5rem;
  position: relative;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__top h1 {
    font-size: 2.5rem;
    margin-bottom: 3.8rem;
    padding-bottom: 0;
  }
}
.outProducts .row__top h1::before {
  content: "PRODUCT";
  font-size: 11.6rem;
  line-height: 1.2;
  color: #ffffff;
  position: absolute;
  bottom: 9rem;
  left: 0;
  z-index: 2;
}
@media only screen and (max-width: 991px) {
  .outProducts .row__top h1::before {
    font-size: 6rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 968px) {
  .outProducts .row__top h1::before {
    font-size: 6rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom {
    padding: 0;
  }
}
.outProducts .row__bottom .row {
  margin: 0 auto;
}
.outProducts .row__bottom .tab {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: flex-end;
  transition: all ease-in 0.3s;
}
.outProducts .row__bottom .tab .tablink {
  background-color: #0c4947;
  color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7rem;
  width: 25%;
  position: relative;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tab .tablink {
    width: 33.3333%;
    font-size: 1.15rem;
    padding: 1.2rem 0.5rem;
  }
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tab button.tablink.active_tab {
    font-weight: 700;
    font-size: 1.25rem;
  }
}
.outProducts .row__bottom .tab .tablink:last-child {
  border-top-right-radius: 0.5rem;
}
.outProducts .row__bottom .tab .tablink:first-child {
  border-top-left-radius: 0.5rem;
}
.outProducts .row__bottom .tab .tablink:first-child::before {
  content: "";
  height: 50%;
  width: 1px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.outProducts .row__bottom .tab .tablink:last-child::after {
  content: "";
  height: 50%;
  width: 1px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.outProducts .row__bottom .tab .tablink:hover {
  background-color: #fff;
  color: #0c4947 !important;
  transition: all 0.5s;
}
.outProducts .row__bottom .tab .tablink-1:hover {
  padding: 1.8rem 0.6rem !important;
}
.outProducts .row__bottom .tab .tablink-2:hover {
  padding: 1.8rem 0.6rem !important;
}
.outProducts .row__bottom .tab .tablink-3:hover {
  padding: 1.8rem 0.6rem !important;
}
.outProducts .row__bottom .tabcontent {
  position: relative;
  color: #fff;
  background-color: #fff;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tabcontent {
    padding: 2rem 1.5rem;
  }
}
.outProducts .row__bottom .tabcontent .row {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .outProducts .row__bottom .tabcontent .row .product-box {
    width: 20%;
  }
}
.outProducts .row__bottom .tabcontent .row .col {
  margin: 3rem 0;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tabcontent .row .col {
    margin: 1.25rem 0;
  }
}
.outProducts .row__bottom .tabcontent .row .col .icon-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.outProducts .row__bottom .tabcontent .row .col .icon-box-img {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tabcontent .row .col .icon-box-img {
    margin-right: 0;
  }
}
.outProducts .row__bottom .tabcontent .row .col .icon-box-text p {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tabcontent .row .col .icon-box-text p {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tabcontent .row .col .icon-box {
    flex-direction: column;
  }
}
.outProducts .row__bottom .tabcontent .content-col2 {
  width: 100%;
  margin: 0 auto;
}
.outProducts .row__bottom .tabcontent .content-col2 .col2 {
  margin: 3rem 0;
}
.outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-img {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-img {
    margin-right: 0;
  }
}
.outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-text p {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
}
@media only screen and (max-width: 968px) {
  .outProducts .row__bottom .tabcontent .content-col2 .col2 .icon-box-text p {
    text-align: center;
    font-size: 1.2rem;
  }
}
.outProducts .tabcontent::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#f4f4f4, #0c4947);
  position: absolute;
  top: 5rem;
  left: 3rem;
  z-index: -1;
}
@media only screen and (max-width: 968px) {
  .outProducts .tabcontent::before {
    top: 3rem;
    left: 2rem;
  }
}

.outProducts-1 {
  background: url(../../common/image/bg-product.png) left top no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 968px) {
  .outProducts-1 {
    background: url(../../common/image/bg-product-mobile.png) left top no-repeat;
    background-size: 100% 100%;
  }
}

#Home {
  background-color: #fff;
}

#News {
  background-color: #fff;
}

#About {
  background-color: #fff;
}

.solutions {
  margin-top: 6rem;
  padding: 10rem 0;
  background: url(../../common/image/bg-solution.png) left top no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 968px) {
  .solutions {
    background: url(../../common/image/bg-solution-mobile.png) left top no-repeat;
    background-size: contain;
  }
}
.solutions .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.solutions .row .col {
  padding: 0 0.75rem;
}
@media only screen and (max-width: 968px) {
  .solutions .row .col {
    padding: 0;
  }
}
.solutions .row .col h1 {
  font-size: 5.5rem;
  margin: 0 0 3rem 0;
  font-weight: 700;
  font-family: Roboto-Bold;
}
@media only screen and (max-width: 968px) {
  .solutions .row .col h1 {
    font-size: 3.5rem;
    line-height: 1.2857142857;
    margin-top: 2rem;
  }
}
.solutions .row .col p {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}
@media only screen and (max-width: 968px) {
  .solutions .row .col p {
    margin-bottom: 0;
  }
}
.solutions .row .col .btn {
  display: inline-block;
  background-color: #fff;
  color: #0c4947;
  border-radius: 3rem;
  padding: 1.5rem 5rem 1.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  margin-top: 5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  font-family: NotoSansJP-Regular;
}
@media only screen and (max-width: 968px) {
  .solutions .row .col .btn {
    margin-top: 3rem;
  }
}
.solutions .row .col .btn:hover {
  background-color: #0c4947 !important;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}
.solutions .row .col .btn::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 1.5rem;
}
.solutions .row .col .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
.solutions .row__right {
  width: 60%;
  padding: 0 0.75rem;
}
.solutions .row__right img {
  width: 100%;
}

.coreValue {
  padding: 10rem 0 30rem 0;
  background: url(../../common/image/core_value.png) left top no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 968px) {
  .coreValue {
    background: url(../../common/image/bg-core_mobile.png) left top no-repeat;
    background-size: 100% 100%;
    padding: 2rem 0 13rem 0;
  }
}
.coreValue .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.coreValue .row__left {
  width: calc(50% - 3rem);
  margin-right: 3rem;
  padding: 0 0.75rem;
}
.coreValue .row__left img {
  width: 100%;
}
.coreValue .row .col {
  padding: 0 0.75rem;
  padding-left: 14rem;
}
@media only screen and (max-width: 968px) {
  .coreValue .row .col {
    padding-left: 0;
  }
}
.coreValue .row .col h1 {
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 7rem;
  margin: 0 0 3rem 0;
  font-family: Roboto-Bold;
}
@media only screen and (max-width: 968px) {
  .coreValue .row .col h1 {
    font-size: 3.6rem;
    line-height: 4.5rem;
  }
}
.coreValue .row .col p {
  font-size: 1.6rem;
  width: 40.6rem;
}
@media only screen and (max-width: 968px) {
  .coreValue .row .col p {
    width: auto;
  }
}
.coreValue .row .col .btn {
  display: block;
  font-family: NotoSansJP-Regular;
  background: transparent;
}
.coreValue .row .col .btn-transparent {
  font-size: 1.6rem;
  line-height: 1.2;
  border-radius: 3rem;
  padding: 1.5rem 5rem 1.5rem 3rem;
  margin-top: 2.5rem;
  border: 1px solid #0c4947;
  display: block;
  text-align: left;
  transition: all 0.25s;
  min-width: 32rem;
  position: relative;
}
@media only screen and (max-width: 968px) {
  .coreValue .row .col .btn-transparent {
    width: 29.4rem;
    padding: 0.8rem 1.5rem;
  }
}
.coreValue .row .col .btn-transparent span {
  transition: all 0.25s;
  font-size: 1.2rem;
}
.coreValue .row .col .btn-transparent span:first-child {
  margin-right: 2rem;
}
.coreValue .row .col .btn-transparent.btn-bg-white {
  border: 1px solid #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
  color: #0c4947;
  border-radius: 3rem;
  font-size: 1.6rem;
  margin-top: 5rem;
  padding: 1.5rem 6rem 1.5rem 3rem;
  min-width: 28rem;
  position: relative;
}
@media only screen and (max-width: 968px) {
  .coreValue .row .col .btn-transparent.btn-bg-white {
    font-size: 1.2rem;
    width: 26.2rem;
    padding: 1.8rem 1.2rem 1.8rem 2rem;
  }
}
.coreValue .row .col .btn-transparent::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 2rem;
}
@media only screen and (max-width: 968px) {
  .coreValue .row .col .btn-transparent::after {
    font-size: 1.8rem;
  }
}
.coreValue .row .col .btn-transparent:hover {
  background: #fff;
  border-color: #fff;
}
.coreValue .row .col .btn-transparent:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
.coreValue .row .col .btn-transparent.btn-bg-white:hover {
  background-color: #0c4947 !important;
  color: #fff !important;
  border: 1px solid transparent;
}

.news {
  margin-top: -15rem;
  padding-bottom: 10rem;
}
.news .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.news .row__top {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 968px) {
  .news .row__top {
    margin-top: 15rem;
  }
}
.news .row__top .title {
  width: 100%;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 968px) {
  .news .row__top .title {
    margin-bottom: 1rem;
  }
}
.news .row__top .title .text-center {
  text-align: center !important;
  font-size: 3.5rem;
  color: #0c4947;
  font-weight: 300;
  margin: 0;
}
.news .row__top .title h1 {
  font-size: 3.5rem;
  color: #0c4947;
}
@media only screen and (max-width: 991px) {
  .news .row__top .title h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .news .row__top .title h1 {
    width: 9rem;
  }
}
.news .row__top .title .btn {
  display: block;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 1.5rem;
}
.news .row__top .title .btn-bg-white {
  padding: 1rem 5rem 1rem 2rem;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: #0c4947;
}
.news .row__top .title .btn-bg-white::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 1.5rem;
}
.news .row__top .title .btn-bg-white:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
.news .row__top .title .btn-bg-white:hover {
  background-color: #0c4947;
  color: #fff;
}
.news .row__bottom {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.news .row__bottom .col {
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .news .row__bottom .col {
    padding: 0;
  }
}
.news .row__bottom .col .meta {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 991px) {
  .news .row__bottom .col .meta {
    padding: 0;
  }
}
.news .row__bottom .col .meta .category h4 {
  margin: 0;
  font-weight: 300;
  padding: 0 0 0 2.5rem;
  position: relative;
}
.news .row__bottom .col .meta .category h4::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #02b9a4;
  position: absolute;
  top: 0;
  left: 0;
}
.news .row__bottom .col .meta .time h5 {
  margin: 0;
  font-size: 1.2rem;
  color: #9a9a9a;
  font-weight: 300;
}
.news .row__bottom .col .box {
  width: 100%;
  padding: 0 2rem;
}
@media only screen and (max-width: 968px) {
  .news .row__bottom .col .box {
    margin-right: 1.5rem;
    padding: 0;
  }
}
@media only screen and (max-width: 968px) {
  .news .row__bottom .col .box .image-box {
    margin-right: 1.5rem;
  }
}
.news .row__bottom .col .box .image-box z img {
  width: 100%;
}
.news .row__bottom .col .box .text-box {
  width: 100%;
}
.news .row__bottom .col .box .text-box .meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.news .row__bottom .col .box .text-box .meta .category h4 {
  margin: 0;
  font-weight: 300;
  padding: 0 0 0 2.5rem;
  position: relative;
}
.news .row__bottom .col .box .text-box .meta .category h4::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #02b9a4;
  position: absolute;
  top: 0;
  left: 0;
}
.news .row__bottom .col .box .text-box .meta .time h5 {
  margin: 0;
  font-size: 1.2rem;
  color: #9a9a9a;
  font-weight: 300;
}
.news .row__bottom .col .box .blog-title h3 {
  margin: 1.6rem 0;
  font-size: 1.6rem;
  font-family: NotoSansJP-Bold;
  cursor: pointer;
}
@media only screen and (max-width: 968px) {
  .news .row__bottom .col .box .blog-title h3 {
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    margin: 1rem 0;
  }
}
.news .row__bottom .col .box .blog-title h3:hover {
  color: #02b9a4;
}
.news .row__bottom .col .box .blog-title p {
  font-size: 1.6rem;
  line-height: 1.5625;
  color: #121212;
}
.news .row__bottom .col .blog-content p {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media only screen and (max-width: 968px) {
  .news .row__bottom .col .blog-content p {
    font-size: 1.4rem;
  }
}
.news .row__bottom .col-3 .image-box {
  transform: translateY(15px);
}

.location {
  padding: 10rem 0 3rem 0;
  background: url(../../common/image/bg-location.png) left top no-repeat;
  background-size: cover;
  height: 52.5rem;
}
@media only screen and (max-width: 968px) {
  .location {
    background: url(../../common/image/bg_location-mobile.png) center center no-repeat;
    background-size: cover;
  }
}
.location .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.location .row__info {
  display: flex;
  flex-direction: column;
}
.location .row__info h1 {
  margin: 0;
  font-size: 5rem;
  font-family: Roboto-Bold;
  color: #fff;
}
@media only screen and (max-width: 968px) {
  .location .row__info h1 {
    font-size: 4rem;
  }
}
.location .row__info .text {
  font-size: 1.6rem;
  color: #fff;
  font-family: NotoSansJP-Regular;
  margin: 5rem 0;
}
@media only screen and (max-width: 968px) {
  .location .row__info .text {
    margin: 4rem 0 4.5rem 0;
  }
}
.location .row__info .btn-bg-white {
  padding: 1.5rem 5.5rem 1.5rem 2.5rem;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: #0c4947;
  position: relative;
  align-self: flex-end;
}
@media only screen and (max-width: 968px) {
  .location .row__info .btn-bg-white {
    align-self: center;
  }
}
.location .row__info .btn-bg-white::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 2rem;
}
.location .row__info .btn-bg-white:hover::after {
  transform: translateY(-50%) scaleX(1.4) !important;
}
.location .row__info .btn-bg-white:hover {
  background-color: #0c4947;
  color: #fff;
}

.creation {
  margin-bottom: 10rem;
  padding: 8rem 0;
  background-image: url(../../common/image/bg-co-creation.png);
  background-size: 100% 100%;
}
@media only screen and (max-width: 968px) {
  .creation {
    background: url(../../common/image/bg-co-creation-mobile.png) left bottom no-repeat;
    background-size: contain;
    margin-bottom: 2rem;
  }
}
.creation__btn-wrap {
  display: flex;
  justify-content: flex-end;
}
.creation .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.creation .row__left {
  width: 45%;
}
.creation .row__left .img {
  width: 100%;
}
.creation .row__left .img .img-fluid {
  width: 100%;
  height: auto;
}
.creation .row__right {
  width: 55%;
  margin-top: -0.5rem;
}
.creation .row__right--text {
  margin: 0 0 0 auto;
  padding-left: 5rem;
  font-family: NotoSansJP-Regular;
}
@media only screen and (max-width: 968px) {
  .creation .row__right--text {
    padding: 0;
    margin: 3rem 0 0 0;
  }
}
.creation .row__right--text h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  font-weight: 300;
}
.creation .row__right--text p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000000;
  margin: 0 0 1rem 0;
}
.creation .row__right--text .btn {
  padding: 1rem 5.5rem 1.5rem 1.5rem;
  background-color: transparent;
  border: 2px solid #0c4947;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: #0c4947;
  position: relative;
}
.creation .row__right--text .btn::after {
  content: "\f35d";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
}
.creation .row__right--text .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
.creation .row__right--text .btn:hover {
  background-color: #fff;
  color: #0c4947;
  border: 2px solid #fff;
}

.contact {
  margin-bottom: 10rem;
  padding: 8rem 0;
  background-color: #02b9a4;
}
@media only screen and (max-width: 968px) {
  .contact {
    padding: 6.4rem 0;
  }
}
@media only screen and (max-width: 991px) {
  .contact {
    margin-bottom: 0;
  }
}
.contact .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contact .row__left {
  padding: 0 1.5rem;
}
@media only screen and (max-width: 968px) {
  .contact .row__left {
    padding: 0;
  }
}
.contact .row__left--text p {
  color: #fff;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  margin: 0;
}
@media only screen and (max-width: 968px) {
  .contact .row__left--text p {
    margin-bottom: 2rem;
  }
}
.contact .row__right {
  padding: 0 1.5rem;
}
@media only screen and (max-width: 968px) {
  .contact .row__right {
    padding: 0;
  }
}
.contact .row__right--btn {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .contact .row__right--btn {
    margin-top: 3rem;
  }
}
.contact .row__right--btn .btn {
  padding: 2rem 7rem 2rem 2rem;
  border: 2px solid white;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: NotoSansJP-Regular;
  color: white;
  background: transparent;
  position: relative;
  transition: all 0.25s;
}
@media only screen and (max-width: 968px) {
  .contact .row__right--btn .cs-btn-contact {
    width: 17.9rem;
    padding: 1.2rem 4rem 1.2rem 1rem;
  }
}
.contact .row__right--btn .btn::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  margin-left: 3rem;
}
@media only screen and (max-width: 968px) {
  .contact .row__right--btn .btn::after {
    margin-left: 2rem;
  }
}
.contact .row__right--btn .btn:hover::after {
  transform: translateY(-50%) scaleX(1.2) !important;
}
.contact .row__right--btn .btn:hover {
  opacity: 0.7;
}

.related {
  padding-top: 7rem;
}
@media only screen and (max-width: 968px) {
  .related {
    padding-top: 3rem;
  }
}
.related .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.related .row__content--text {
  width: 100%;
  margin-bottom: 3rem;
  color: #000000;
}
@media only screen and (max-width: 991px) {
  .related .row__content--text {
    text-align: center;
  }
}
.related .row__content--text h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.6rem;
}
.related .row__content--col {
  padding: 1.5rem 1rem;
}
.related .row__content--col img {
  width: 100%;
}

.companies {
  padding: 4rem 0;
}
.companies .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.companies .row__content--text {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #000000;
}
@media only screen and (max-width: 991px) {
  .companies .row__content--text {
    text-align: center;
  }
}
.companies .row__content--text h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.companies .row__content--col {
  padding: 0 1rem;
  margin-bottom: 3rem;
}
.companies .row__content--col .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-family: NotoSansJP-Regular;
  background-color: #fff;
  padding: 0 1.5rem;
  height: 5.8rem;
}
.companies .row__content--col .box--icon {
  color: #02b9a4;
}
.companies .row__content--col .box--text {
  width: 16.4rem;
}
@media only screen and (max-width: 968px) {
  .companies .row__content--col .box--text {
    width: auto;
  }
}
.companies .row__content--col .box--text a {
  display: inline-block;
  color: #000000;
}

.h-pc {
  display: block;
}
@media (min-width: 969px) {
  .h-pc {
    display: none;
  }
}

.h-sp {
  display: none;
}
@media (min-width: 969px) {
  .h-sp {
    display: block;
  }
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}

@media (min-width: 768px) {
  .break-pc {
    display: block;
  }
}

@media (max-width: 968px) {
  .break-sp {
    display: block;
  }
}

.wrap, .outProducts .row__bottom .tabcontent .row, .related .row__content, .companies .row__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.outProducts .row__bottom .tab .activeBefore.tablink:first-child::before {
  display: none;
}

.outProducts .row__bottom .tab .activeAfter.tablink:last-child::after {
  display: none;
}

.outProducts .row__bottom .tab .clear.tablink:last-child::after {
  background-color: transparent;
}

.outProducts .row__bottom .tab .clear.tablink:first-child::before {
  background-color: transparent;
}

@media only screen and (max-width: 968px) {
  .outProducts-2 .container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

footer {
  background-color: #fff;
  padding: 2.5rem 0;
  width: 100%;
}
@media only screen and (max-width: 968px) {
  footer {
    padding: 3.5rem 0;
  }
}
footer .row {
  width: 100%;
}
footer .row__content {
  width: 100%;
}
footer .row__content .footer__left p {
  margin: 0;
  font-size: 1.2rem;
  font-family: NotoSansJP-Regular;
  font-weight: 100;
  color: #0c4947;
}
footer .row__content .footer__right ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 968px) {
  footer .row__content .footer__right ul {
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
footer .row__content .footer__right ul li {
  margin-left: 3rem;
  font-size: 1.2rem;
  font-family: NotoSansJP-Regular;
}
@media only screen and (max-width: 968px) {
  footer .row__content .footer__right ul li {
    margin-bottom: 3rem;
  }
}
footer .row__content .footer__right ul a {
  text-decoration: none;
  color: #0c4947;
}
footer .row__content .footer__right ul a:hover {
  color: #02b9a4;
  cursor: pointer;
}
footer .row__content .footer__right li:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 968px) {
  footer .row__content .footer__right li:first-child {
    width: 100%;
  }
}
@media only screen and (max-width: 968px) {
  footer .row__content .footer__right li:nth-child(2n+1):not(:first-child) {
    width: 50%;
  }
}
footer .row__content .footer__right li:nth-child(2n+2) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 968px) {
  footer .row__content .footer__right li:nth-child(2n+2) {
    width: 40%;
    margin-left: 0;
  }
}
footer .row__content .footer__right li:nth-child(2) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 968px) {
  footer .row__content .footer__right li:nth-child(2) {
    width: 30%;
    margin-left: 0;
  }
}
footer .row__content .go-top {
  display: none;
}
footer .row__content .go-top .img {
  width: 4.7rem;
  height: 4.8rem;
  position: fixed;
  bottom: 10.5rem;
  right: 5rem;
  z-index: 9999;
}
@media only screen and (max-width: 968px) {
  footer .row__content .go-top .img {
    width: 3rem;
    height: 3rem;
    bottom: 5.5rem;
    right: 2rem;
  }
}
footer .row__content .go-top .img:hover {
  transform: scale(1.2);
}

@media (max-width: 1290px) {
  header {
    height: 5rem;
  }
  header .navbar {
    height: 5rem;
  }
  header .navbar img {
    height: 5rem;
  }
  header .navbar__right {
    width: 100%;
  }
  header .navbar__right--support .nav-item a {
    font-size: 1.2rem;
    padding: 1.5rem 1.2rem;
  }
  header .navbar__right--end .btn {
    font-size: 1.2rem;
    padding: 0 1.8rem;
  }
}
@media (min-width: 969px) {
  .thumbnail-sub {
    display: none !important;
  }
  header .navbar__right {
    width: auto;
  }
  header .navbar__right--support {
    display: flex;
  }
  header .btn_show_navbar {
    display: none;
  }
  .js-close {
    display: none;
  }
}
@media (max-width: 968px) {
  header .close {
    display: none;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    height: 5rem;
    padding: 1.5rem;
  }
  header .close .navbar-toggler-icon {
    background-image: url(./../image/close.png);
    background-size: contain;
    background-position-x: center;
  }
  header .navbar-toggler-icon {
    vertical-align: unset !important;
  }
  header .btn_show_navbar {
    display: block;
    padding: 1.7rem 2rem;
    position: fixed;
    right: 0;
    background: white;
  }
}
@media only screen and (max-width: 968px) and (max-width: 968px) {
  header .btn_show_navbar {
    padding: 1.2rem 2rem;
  }
}
@media (max-width: 968px) {
  header .btn_show_navbar .navbar-toggler-icon {
    background: white;
    background-image: url(./../image/icon-menu.png);
    background-size: contain;
    background-position-x: right;
    height: 1.5rem;
    width: 1.5rem;
  }
}
@media (max-width: 968px) {
  .btn_show_navbar::before {
    content: "日本語";
    color: #02b9a4;
    margin-right: 30px;
  }
}
@media (max-width: 968px) {
  .slider .rows {
    display: none !important;
  }
}
@media (max-width: 968px) {
  header .navbar__right {
    width: 100%;
  }
}
@media (max-width: 968px) {
  header .navbar__right--support {
    display: none;
    width: 100%;
    height: 100vh;
    background: url(./../image/bg_mv.png) top left no-repeat;
    background-size: 100% 100%;
    background-color: #f4f4f4;
  }
}
@media (max-width: 968px) {
  header .navbar__right--end {
    display: none;
  }
}
@media (max-width: 968px) {
  header.js-close {
    display: block;
    background: red;
  }
}
@media (max-width: 968px) {
  .slider .rows {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: static;
  }
}
@media (max-width: 968px) {
  .slider .rows__thumbnail {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    margin: 1.5rem 0;
    height: 0.3rem;
    background: #fff;
  }
}
@media (max-width: 968px) {
  .slider .rows__thumbnail .column {
    position: relative;
    width: 25%;
  }
}
@media (max-width: 968px) {
  .slider .rows__thumbnail .column .color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #0c4947;
  }
}
@media (max-width: 968px) {
  .slider .rows__thumbnail .column img {
    display: none;
    width: 100%;
  }
}
@media (max-width: 968px) {
  .slider .mySlides .row__right--text {
    padding: 0;
  }
}
@media (max-width: 968px) {
  header .navbar__right--support .nav-item:first-child {
    margin-top: 3rem;
  }
}
@media (max-width: 968px) {
  header .navbar__right--support .nav-item {
    margin-left: 3rem;
    margin-right: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4705882353);
  }
}
@media (max-width: 968px) {
  header .navbar__right--support .nav-item a {
    padding: 3rem 0;
    font-family: NotoSansJP-Regular;
    font-size: 1.6rem;
  }
}
@media (max-width: 968px) {
  footer .row__content .go-top {
    display: none;
  }
}