footer {
  background-color: $colorWhite;
  padding: 2.5rem 0;
  width: 100%;
  @include maxWidth(968px) {
    padding: 3.5rem 0;
  }
  .row {
    width: 100%;
    &__content {
      width: 100%;
      .footer {        
        &__left {
          p {
            margin: 0;
            font-size: 1.2rem;
            font-family: NotoSansJP-Regular;
            font-weight: 100;
            color: $colorGreen-3;
          }
        }
        &__right {
          ul {
            @include maxWidth(968px) {
              flex-wrap: wrap;
              width: 100%;
              justify-content: flex-start;
              align-items: flex-start;
            }
            @include display(flex, space-between, flex-start);
            list-style: none;
            padding: 0;
            li {
              margin-left: 3rem;
              font-size: 1.2rem;
              font-family: NotoSansJP-Regular;
              @include maxWidth(968px) {
               margin-bottom: 3rem;
              }
            }
            a {
              text-decoration: none;
              color: $colorGreen-3;
            }
            a:hover {
              color: $colorGreen-4;
              cursor: pointer;
            }
          }
          li:first-child {
            margin-left: 0;
            @include maxWidth(968px) {
              width: 100%;
            }
          }
          li:nth-child(2n + 1):not(:first-child) {
            @include maxWidth(968px) {
              width: 50%;
            }
          }
          li:nth-child(2n + 2) {            
               margin-bottom: 3rem;
            @include maxWidth(968px) {
              width: 40%;
              margin-left: 0;
            }
          }
          li:nth-child(2) {
            margin-bottom: 3rem;
            @include maxWidth(968px) {
              width: 30%;
              margin-left: 0;
            }
          }
        }
      }
      .go-top {
        display: none;
        .img {
          width: 4.7rem;
          height: 4.8rem;
          position: fixed;
          bottom: 10.5rem;
          right: 5rem;
          z-index: 9999;
          @include maxWidth(968px) {
            width: 3rem;
            height: 3rem;
            bottom: 5.5rem;
            right: 2rem;
           }
        }
      }
      .go-top .img:hover {
        transform: scale(1.2);
      }    
    }
  }
}
