header {
  width: 100%;
  height: 9rem;
  .navbar {
    background: $colorGreen-2;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0;
    height: 9rem;
    .container-fluid {
      height: 100%;
      width: 100%;
      padding: 0;
      @include display(flex, space-between, center);
      align-self: stretch;
    }
    &__right {
      height: 100%;
      @include display(flex, space-between, normal);
      &--support {
        margin: 0;
        padding: 0;
        color: $colorWhite;
        font-size: 1.4rem;
        @include display(flex, space-between, center);
        .nav-item {
          list-style: none;
          a {
            text-decoration: none;
            font-family: NotoSansJP-Bold;
            color: $colorWhite;
            padding: 1.5rem;
            transition: all 0.25s;
          }
          a:hover {
            cursor: pointer;
            background-color: $colorWhite-2;
          }
        }
      }
      &--end {
        @include display(flex, flex-start, flex-end);
        .btn {
          font-family: NotoSansJP-Regular;
          padding: 0 3rem;
          font-size: 1.6rem;
          color: $colorWhite;
          border: 1px solid transparent;
          font-weight: 700;
          height: 100%;
        }
        .btn-bg {
          background-color: $colorGreen-3;
        }
        .btn-bg:hover {
          opacity: 0.7;
        }
        .btn-bg-white {
          background-color: $colorWhite;
          color: $colorGreen-4;
          border-radius: 0;
        }
        .btn-bg-white:hover {
          background-color: $colorWhite;
          color: $colorGreen-3;
          opacity: 0.9;
        }
      }
    }
  }
  .popupSearch {
    .modal-content {
      background-image: linear-gradient(#02b9a4, #fdeadd);
      .modal-header {
        width: 100%;
        border: 1px solid transparent;
        padding-top: 3rem;
        border-bottom: 1px solid transparent;
        .modal-title.text-center {
          width: 100%;
          @include display(flex, center, center);
          width: 100%;
          font-size: 2.5rem;
          font-family: NotoSansJP-Bold;
          color: #fff;
        }
        .btn-close {
          background: url(../../common/image/btn-close.png) center center no-repeat;
          background-size: contain;
          opacity: 1;
          transition: all 0.25s;
          margin-right: 3rem;
          transform: scale(1.2);
        }
      }
      .modal-body {
        width: 100%;
        margin-top: 3rem;
        @include maxWidth(968px) {
         overflow-x: hidden;
        }
      }
    }
    .boxSearch {
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      &__label {
        margin-bottom: 0;
        margin-right: 1.5rem;
        flex: 1;
        text-align: right;
        color: #fff;
        @include maxWidth(992px) {
          margin-bottom: 1.5rem !important;
          font-size: 1.6rem !important;
        }
      }
    }
    .search-form {
      flex: 3;
      position: relative;
      overflow: hidden;
      border-radius: 5rem;
      &__input {
        border: 0;
        background-color: #fff;
        height: 6rem;
        min-width: 100%;
        border-radius: 5rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }
      &__btn {
        width: 3.1rem;
        height: 3.1rem;
        background: url(/common/image/icon-search.png) center center no-repeat;
        background-size: contain;
        border: none;
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
        z-index: 9999;
        background-color: #fff;
      }
    }
  }
}
