html {
  font-size: calc(10/375*100vw);
  @media (min-width: 969px) {
      font-size: 62.5%;
  }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "NotoSansJP-Regular", "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    color: #333333;
    background-color: #f4f4f4;
}

main {
    overflow: hidden;
}

img {
    max-width: 100%;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
}

a,
button {
    text-decoration: none;
    color: #0066C5;
    &:hover {
        opacity: .7;
        text-decoration: none;
    }
}

input,
select,
button {
    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
}

.container {
      @media screen and (max-width: 968px) {
        padding: 0;
      }
}
@media (min-width: 969px) and (max-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: calc(100vw - 60px) !important;
    }
  }
  @media (min-width: 540px) and (max-width: 968px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: calc(100vw - 3em) !important;
    }
  }
  @media (max-width: 540px) {
    .container {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }
  