@font-face {
  font-family: NotoSansJP-Bold;
  src: url(../../common/fonts/NotoSansJP-Bold.otf);
}
@font-face {
  font-family: NotoSansJP-Regular;
  src: url(../../common/fonts/NotoSansJP-Regular.otf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../../common/fonts/Roboto-Bold.ttf);
}
$colorBlack: #000000;
$colorHover: #f14836;
$colorOrange: #f03f2c;
$colorGray: #798795;
$colorGray-1: #9a9a9a;
$colorWhite: #fff;
$colorBlue: #4bb3f9;
$colorGreen: #63b85f;
$colorRed: #f11800;
$colorPink: #f23559;
$colorWhite-1: #dbd2d2;
$colorWhite-2: #ffffff14;
$colorGreen-2: #1fbeaa;
$colorGreen-3: #0c4947;
$colorGreen-4: #02b9a4;
$color_body: #f4f4f4;
